body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.login{
    text-align: center;
    border-style: groove;
    border-radius: 50px;
    width: 30vw;
    
}
.cad{
    text-align: justify;
}
input{
    border-style: hidden;
    border-radius: 50px;
    background-color: chartreuse;
    border-color: chartreuse;
}
img{
    height: 100%;
    width: 100%;
    align-items: center;
}
button{
    border-radius: 50px;
    border-style: hidden;
    border-color: chartreuse;
    background-color: chartreuse;
    text-align: center;
}
.container{
    height: 300px;
    width: 30vw;
}
.frufru{
    border-style: solid;
    border-radius: 50px;
    width: 1000px;
    text-align: center;
    color: black;
}